alabaster==0.7.12
alembic==1.7.5
appnope==0.1.3
asttokens==2.1.0
attrs==21.4.0
autopage==0.5.0
-e git+https://github.com/pwoznicki/AutoRadiomics.git@f4b7469b16fac43199cd6a25925a16536841aa41#egg=autorad
Babel==2.11.0
backcall==0.2.0
Boruta==0.3
certifi==2021.10.8
charset-normalizer==2.0.10
ci-info==0.3.0
click==8.1.3
cliff==3.10.0
cloudpickle==2.0.0
cmaes==0.8.2
cmd2==2.3.3
colorlog==6.6.0
commonmark==0.9.1
cycler==0.11.0
databricks-cli==0.16.2
debugpy==1.6.3
decorator==5.1.1
docker==6.0.1
docopt==0.6.2
docutils==0.17.1
entrypoints==0.3
etelemetry==0.3.0
executing==1.2.0
fastjsonschema==2.16.2
filelock==3.8.0
Flask==2.0.2
fonttools==4.29.0
gitdb==4.0.9
GitPython==3.1.29
greenlet==1.1.2
gunicorn==20.1.0
idna==3.3
imageio==2.22.3
imagesize==1.4.1
imbalanced-learn==0.9.0
importlib-metadata==4.10.1
importlib-resources==5.4.0
ipykernel==6.17.0
ipython==8.6.0
isodate==0.6.1
itsdangerous==2.0.1
jedi==0.18.1
Jinja2==3.0.3
joblib==1.2.0
jsonschema==4.17.0
jupyter_client==7.4.4
jupyter_core==4.11.2
kiwisolver==1.3.2
lightgbm==3.3.3
lofo-importance==0.3.1
looseversion==1.0.2
lxml==4.9.1
Mako==1.1.6
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.6
MedPy==0.4.0
mlflow==1.23.1
monai-weekly==0.10.dev2227
nbformat==5.4.0
nest-asyncio==1.5.6
networkx==2.8.8
nibabel==3.2.1
nipype==1.8.3
numpy==1.23.2
optuna==2.10.0
packaging==21.3
pandas==1.4.2
parso==0.8.3
patsy==0.5.2
pbr==5.8.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.0
plotly==5.5.0
prettytable==3.0.0
progressbar2==4.2.0
prometheus-client==0.12.0
prometheus-flask-exporter==0.18.7
prompt-toolkit==3.0.31
protobuf==3.19.3
prov==2.0.0
psutil==5.9.3
ptyprocess==0.7.0
pure-eval==0.2.2
pydot==1.4.2
Pygments==2.13.0
pykwalify==1.8.0
pyparsing==2.4.7
pyperclip==1.8.2
pyradiomics==3.0.1
pyrsistent==0.19.2
python-dateutil==2.8.2
python-utils==3.4.5
pytz==2022.1
PyWavelets==1.2.0
PyYAML==6.0
pyzmq==24.0.1
querystring-parser==1.2.4
rdflib==6.2.0
requests==2.27.1
rich==12.4.4
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
scikit-image==0.19.2
scikit-learn==1.2.dev0
scipy==1.9.1
seaborn==0.11.2
SimpleITK==2.1.1.2
simplejson==3.17.6
six==1.16.0
smmap==5.0.0
snowballstemmer==2.2.0
Sphinx==5.3.0
sphinx-rtd-theme==1.1.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.31
sqlparse==0.4.2
stack-data==0.6.0
statsmodels==0.13.2
stevedore==3.5.0
tabulate==0.8.9
tenacity==8.0.1
testresources==2.0.1
threadpoolctl==3.0.0
tifffile==2022.10.10
torch==1.11.0
tornado==6.2
tqdm==4.62.3
traitlets==5.5.0
traits==6.4.1
typer==0.6.1
typing_extensions==4.0.1
urllib3==1.26.8
wcwidth==0.2.5
websocket-client==1.2.3
Werkzeug==2.0.2
xgboost==1.6.0
xnat==0.4.2
zipp==3.7.0
