# Before running, install the required nnU-Net package:
!pip install nnunet

import os
from pathlib import Path
# Set up paths
data_dir = Path("{{ input_dir }}")
result_dir = data_dir.parent / "segmentations_{{ modality }}_{{ organ }}_{{ model_name }}"
nnunet_result_dir = result_dir / "nnunet"
nnunet_result_dir.mkdir(parents=True, exist_ok=True)

# Download pretrained model
!nnUNet_download_pretrained_model {{ model_name }}

# Run the inference
!nnUNet_predict -i "$data_dir" -o "$nnunet_result_dir" -t {{ model_name }} -m {{ mode }}

# Postprocessing
from autorad.webapp import template_utils
final_result_dir = result_dir / "{{ organ }}"
final_result_dir.mkdir(parents=True, exist_ok=True)
# Leave only the mask for {{ organ }}
template_utils.leave_only_organ_segmentation(
    seg_dir=nnunet_result_dir,
    organ_label={{ organ_label }},
    save_dir = final_result_dir
    )
