# Before running, install the required nnU-Net package:
{% if notebook %}

!
{%- else %}
#
{%- endif %}
 pip install nnunet

import os
from pathlib import Path

base_dir = Path('/content/drive/My Drive/colabdrive/nnunet')
os.chdir(base_dir)

# Set the environment variables

os.environ['nnUNet_raw_data_base'] = str(base_dir / 'nnUNet_raw_data_base')
os.environ['nnUNet_preprocessed'] = str(base_dir / 'preprocessed')
os.environ['RESULTS_FOLDER'] = str(base_dir / 'nnUNet_trained')

result_dir = main_dir / 'nnUNet_predictions' / task_name
resullt_dir.mkdir(parents=True, exist_ok=True)

# Run the inference

  !nnUNet_predict -i /content/drive/My\ Drive/colabdrive/uka/Abdomen/nnunet/pv \
      -o /content/drive/My\ Drive/colabdrive/uka/Abdomen/nnunet/masks -t 017 -m 3d_fullres
