name: test-build

on:
  push:
    branches: [ deploy ]
  pull_request:
    branches: [ deploy ]
jobs:
  test-code:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Setup virtual env
        run: |
          pip install virtualenv
          virtualenv .venv
          source .venv/bin/activate
          python -m pip install -e . --no-cache-dir
      - name: Execute tests
        run: pytest tests --ignore tests/testing_data
      - name: Run tests and get coverage
        run: |
          coverage run tests --omit tests/testing_data
          coverage xml
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
